<a href="https://colab.research.google.com/github/tanuuukk/movie-recommander-system-/blob/main/Movie_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing pandas
import pandas as pd

# Loading Movies Metadata
metadata = pd.read_csv( r"C:\Users\Lenovo\Desktop\Movie recomandation system\movies_metadata.csv",low_memory=False)

metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [ ]:
# to check for the null values in each column
null_values=metadata.isnull().sum
print(null_values)

<bound method NDFrame._add_numeric_operations.<locals>.sum of        adult  belongs_to_collection  budget  genres  homepage     id  imdb_id  \
0      False                  False   False   False     False  False    False
1      False                   True   False   False      True  False    False
2      False                  False   False   False      True  False    False
3      False                   True   False   False      True  False    False
4      False                  False   False   False      True  False    False
...      ...                    ...     ...     ...       ...    ...      ...
45461  False                   True   False   False     False  False    False
45462  False                   True   False   False      True  False    False
45463  False                   True   False   False      True  False    False
45464  False                   True   False   False      True  False    False
45465  False                   True   False   False      True  False    False

       original_language  original_title  overview  popularity  poster_path  \
0                  False           False     False       False        False
1                  False           False     False       False        False
2                  False           False     False       False        False
3                  False           False     False       False        False
4                  False           False     False       False        False
...                  ...             ...       ...         ...          ...
45461              False           False     False       False        False
45462              False           False     False       False        False
45463              False           False     False       False        False
45464              False           False     False       False        False
45465              False           False     False       False        False

       production_companies  production_countries  release_date  revenue  \
0                     False                 False         False    False
1                     False                 False         False    False
2                     False                 False         False    False
3                     False                 False         False    False
4                     False                 False         False    False
...                     ...                   ...           ...      ...
45461                 False                 False          True    False
45462                 False                 False         False    False
45463                 False                 False         False    False
45464                 False                 False         False    False
45465                 False                 False         False    False

       runtime  spoken_languages  status  tagline  title  video  vote_average  \
0        False             False   False     True  False  False         False
1        False             False   False    False  False  False         False
2        False             False   False    False  False  False         False
3        False             False   False    False  False  False         False
4        False             False   False    False  False  False         False
...        ...               ...     ...      ...    ...    ...           ...
45461    False             False   False    False  False  False         False
45462    False             False   False     True  False  False         False
45463    False             False   False    False  False  False         False
45464    False             False   False     True  False  False         False
45465    False             False   False     True  False  False         False

       vote_count
0           False
1           False
2           False
3           False
4           False
...           ...
45461       False
45462       False
45463       False
45464       False
45465       False

[45466 rows x 24 columns]>

In [ ]:
#removing duplicates
metadata=metadata.drop_duplicates()
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [ ]:
#mean of vote average column
vote_average_mean = metadata['vote_average'].mean()
print(vote_average_mean)

5.618310850956142

In [ ]:
#minimum number of votes required to be in the chart, m
minimum_vote_requirement = metadata['vote_count'].quantile(0.90)
print(minimum_vote_requirement)

160.0

In [ ]:
# Filter out all qualified movies into a new DataFrame
qualified_movies = metadata.copy().loc[metadata['vote_count'] >= minimum_vote_requirement]
qualified_movies.shape

(4552, 24)

In [ ]:
metadata.shape

(45449, 24)

In [ ]:
# Function to computes the weighted rating of each movie
def weighted_rating(x, minimum_vote_requirement=minimum_vote_requirement, vote_average_mean=vote_average_mean):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+minimum_vote_requirement) * R) + (minimum_vote_requirement/(minimum_vote_requirement+v) * vote_average_mean)

In [ ]:

qualified_movies['score'] = qualified_movies.apply(weighted_rating, axis=1)

In [ ]:
#Sorting movies based on score calculated above
qualified_movies = qualified_movies.sort_values('score', ascending=False)

#top 15 movies
qualified_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

                                 title  vote_count  vote_average     score
314           The Shawshank Redemption      8358.0           8.5  8.445871
834                      The Godfather      6024.0           8.5  8.425441
10309      Dilwale Dulhania Le Jayenge       661.0           9.1  8.421473
12481                  The Dark Knight     12269.0           8.3  8.265478
2843                        Fight Club      9678.0           8.3  8.256386
292                       Pulp Fiction      8670.0           8.3  8.251408
522                   Schindler's List      4436.0           8.3  8.206643
23673                         Whiplash      4376.0           8.3  8.205408
5481                     Spirited Away      3968.0           8.3  8.196059
2211                 Life Is Beautiful      3643.0           8.3  8.187176
1178            The Godfather: Part II      3418.0           8.3  8.180081
1152   One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164261
351                       Forrest Gump      8147.0           8.2  8.150274
1154           The Empire Strikes Back      5998.0           8.2  8.132921
1176                            Psycho      2405.0           8.3  8.132721
18465                 The Intouchables      5410.0           8.2  8.125840
40251                       Your Name.      1030.0           8.5  8.112546
289             Leon: The Professional      4293.0           8.2  8.107238
3030                    The Green Mile      4166.0           8.2  8.104515
1170                        GoodFellas      3211.0           8.2  8.077464

In [ ]:
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
metadata['overview'] = metadata['overview'].fillna('')

tfidf_matrix = tfidf.fit_transform(metadata['overview'])

#shape of tfidf_matrix
tfidf_matrix.shape

(45449, 75827)

In [ ]:
tfidf = TfidfVectorizer()

# Fit and transform your data
tfidf_matrix = tfidf.fit_transform(metadata['overview'])

# feature names
feature_names = tfidf.get_feature_names_out()

# subset of feature names
print(feature_names[5000:5010])

['automobiles' 'automomy' 'automotive' 'autonomous' 'autonomy' 'autopilot'
 'autopsies' 'autopsy' 'autopsying' 'autorickshaw']

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import numpy as np

metadata['overview'] = metadata['overview'].fillna('')  # Fill NaN values

# TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(metadata['overview'])

# Batch size
batch_size = 100

# Number of batches
num_batches = int(np.ceil(metadata.shape[0] / batch_size))

cosine_sim_agg = np.zeros((metadata.shape[0], metadata.shape[0]), dtype=np.float32)

for i in range(num_batches):
    start_idx = i * batch_size
    end_idx = min((i + 1) * batch_size, metadata.shape[0])

    # Transform the current batch
    tfidf_matrix_batch = tfidf.transform(metadata['overview'].iloc[start_idx:end_idx])

    #cosine similarity only for the relevant batch against the entire dataset
    cosine_sim_batch = linear_kernel(tfidf_matrix_batch, tfidf_matrix)

    # Updating the cosine similarity matrix
    cosine_sim_agg[start_idx:end_idx, :] = cosine_sim_batch[:, :metadata.shape[0]]

In [ ]:
cosine_sim_agg.shape

(45449, 45449)

In [ ]:
cosine_sim_agg[1]

array([0.01503898, 1.        , 0.0468085 , ..., 0.        , 0.02198308,
       0.00929524], dtype=float32)

In [ ]:
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

In [ ]:
indices[:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [ ]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim_agg=cosine_sim_agg):
    #index of the movie that matches the title
    idx = indices[title]

    #pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim_agg[idx]))

    # Sorting
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    #scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    #movie indices
    movie_indices = [i[0] for i in sim_scores]

    #top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [ ]:
get_recommendations('The Dark Knight Rises')

34634                     A Reunion
25248    Welcome, or No Trespassing
26627              When a Man Falls
34007         From Mexico With Love
40128                     Casanegra
25418                     Lap Dance
19808              The Naughty Room
9481                       Vibrator
27547                         Coven
24981           Winter in the Blood
Name: title, dtype: object

In [ ]:
get_recommendations('The Godfather')

1178               The Godfather: Part II
44030    The Godfather Trilogy: 1972-1990
1914              The Godfather: Part III
23126                          Blood Ties
11297                    Household Saints
34717                   Start Liquidation
10821                            Election
38030            A Mother Should Be Loved
17729                   Short Sharp Shock
26293                  Beck 28 - Familjen
Name: title, dtype: object

In [ ]:
# Loading keywords and credits
credits = pd.read_csv(r"C:\Users\Lenovo\Desktop\Movie recomandation system\credits.csv")
keywords = pd.read_csv(r"C:\Users\Lenovo\Desktop\Movie recomandation system\keywords.csv")

# Remove rows with bad IDs.
metadata = metadata.drop([19730, 29503, 35587])

#IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

In [ ]:
metadata.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [ ]:
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [ ]:
# Import Numpy
import numpy as np
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [ ]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [ ]:
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)

In [ ]:
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[Animation, Comedy, Family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[Adventure, Fantasy, Family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[Romance, Comedy]"

In [ ]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [ ]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [ ]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [ ]:
# Creating a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1)

In [ ]:
metadata[['soup']].head(2)

                                                soup
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup'])

In [ ]:
count_matrix.shape

(46548, 73881)